.fill-lightblurcomponent_ultra_thick-616_9117 {
        background-color: rgba(255, 255, 255, 0.8999999761581421)
      }
.effect-lightblurcomponent_ultra_thick-1_347 {
        backdrop-filter: blur(26.666666666666668px)
      }
.fill-lightfont_primary-602_9446-text {
        color: rgba(0, 0, 0, 0.8980392217636108)
      }
.text-fontsubtitle_sregular-602_9691 {
        font-size: 14px;
font-family: HarmonyHeiTi;
line-height: 1px
      }
.fill-lightfont_secondary-602_9447-text {
        color: rgba(0, 0, 0, 0.6000000238418579)
      }
.text-fontbody_mregular-602_9661 {
        font-size: 14px;
font-family: HarmonyHeiTi;
line-height: 1px
      }
.fill-lightcomp_background_secondary-602_9419 {
        background-color: rgba(0, 0, 0, 0.09803921729326248)
      }
.fill-lightcomp_background_emphasize-602_9414 {
        background-color: rgba(10, 89, 247, 1)
      }
.fill-lighticon_tertiary-602_9462-text {
        color: rgba(0, 0, 0, 0.4000000059604645)
      }
.fill-lightfont_emphasize-602_9440-text {
        color: rgba(10, 89, 247, 1)
      }
.text-fontbody_lmedium-602_9659 {
        font-size: 16px;
font-family: HarmonyHeiTi;
line-height: 1px
      }

.scroll-container-0_1 {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.canvas-0_1 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.frame-3177_10869 {
  width: 328px;
  height: 136px;
  position: relative;
  flex-shrink: 0;
}

.symbol-3177_10847 {
  width: 328px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 24px 24px 0px 24px;
  border-radius: 32px 32px 32px 32px;
}

.frame-3177_10848 {
  width: 280px;
  height: 48px;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: flex-start;
  align-items: flex-start;
  mix-blend-mode: normal;
}

.frame-3177_10849 {
  width: 100%;
  height: 20px;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 36px 0px 0px;
  mix-blend-mode: normal;
}

.text-3177_10850 {
  text-align: left;
  letter-spacing: 0px;
  text-decoration: none;
  width: 100%;
  height: 20px;
  position: relative;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
  mix-blend-mode: normal;
}

.paragraph-3177_10850_0 {
  line-height: 18.66200065612793px;
  position: relative;
  flex-shrink: 0;
}

.span-3177_10850_0_1 {
  font-weight: 400;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8980392217636108);
  position: relative;
  flex-shrink: 0;
}

.text-3177_10851 {
  text-align: right;
  letter-spacing: 0px;
  text-decoration: none;
  width: 32px;
  height: 20px;
  position: relative;
  flex-shrink: 0;
  mix-blend-mode: normal;
}

.paragraph-3177_10851_0 {
  line-height: 18.66200065612793px;
  position: relative;
  flex-shrink: 0;
}

.span-3177_10851_0_1 {
  font-weight: 400;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6000000238418579);
  position: relative;
  flex-shrink: 0;
}

.frame-3177_10852 {
  width: 100%;
  height: auto;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-end;
  align-items: center;
  mix-blend-mode: normal;
}

.frame-3177_10853 {
  width: 100%;
  height: auto;
  position: relative;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 0px;
  flex-grow: 1;
  flex-basis: 0;
  mix-blend-mode: normal;
}

.frame-3177_10854 {
  width: 100%;
  height: 4px;
  position: relative;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  border-radius: 2px 2px 2px 2px;
  mix-blend-mode: normal;
}

.rectangle-3177_10855 {
  width: 43.06%;
  height: 4px;
  position: absolute;
  left: 0%;
  right: 56.94%;
  top: 50%;
  transform: translateY(calc(-50% + 0px));
  border-radius: 2px 2px 2px 2px;
  mix-blend-mode: normal;
}

.frame-3177_10856 {
  width: 24px;
  height: 24px;
  position: relative;
  flex-shrink: 0;
  mix-blend-mode: normal;
}

.frame-3177_10857 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  mix-blend-mode: normal;
}

.text-3177_10859 {
  font-size: 24px;
  font-family: HM Symbol;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0px;
  text-decoration: none;
  width: auto;
  height: auto;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  white-space: nowrap;
  flex-grow: 0;
  mix-blend-mode: normal;
}

.paragraph-3177_10859_0 {
  line-height: 24px;
  position: relative;
  flex-shrink: 0;
}

.span-3177_10859_0_1 {
  font-size: 24px;
  font-family: HM Symbol;
  font-weight: 400;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4000000059604645);
  position: relative;
  flex-shrink: 0;
}

.frame-3177_10860 {
  width: 328px;
  height: 56px;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 0px 16px 16px 16px;
  mix-blend-mode: normal;
}

.frame-3177_10861 {
  width: 100%;
  height: 40px;
  position: relative;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 16px 9px 16px;
  flex-grow: 1;
  flex-basis: 0;
  border-radius: 20px 20px 20px 20px;
  mix-blend-mode: normal;
}

.text-3177_10862 {
  text-align: center;
  letter-spacing: 0px;
  text-decoration: none;
  width: 88px;
  height: auto;
  position: relative;
  flex-shrink: 0;
  mix-blend-mode: normal;
}

.paragraph-3177_10862_0 {
  line-height: 21.328001022338867px;
  position: relative;
  flex-shrink: 0;
}

.span-3177_10862_0_1 {
  font-weight: 400;
  text-decoration: none;
  color: rgba(10, 89, 247, 1);
  position: relative;
  flex-shrink: 0;
}

.container {
  width: 100%;
  height: 100%;
}

.fill-lightcomp_background_tertiary-602_9420 {
        background-color: rgba(0, 0, 0, 0.0470588244497776)
      }
.fill-lightfont_emphasize-602_9440-text {
        color: rgba(10, 89, 247, 1)
      }
.text-fontbody_lmedium-602_9659 {
        font-size: 16px;
font-family: HarmonyHeiTi;
line-height: 1px
      }

.scroll-container-0_1 {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.canvas-0_1 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.frame-3177_10709 {
  width: 120px;
  height: 40px;
  position: relative;
  flex-shrink: 0;
}

.symbol-3177_10575 {
  width: 120px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 9px 16px 9px 16px;
  border-radius: 20px 20px 20px 20px;
  mix-blend-mode: normal;
}

.text-3177_10576 {
  text-align: center;
  width: 88px;
  height: auto;
  position: relative;
  flex-shrink: 0;
  mix-blend-mode: normal;
}

.paragraph-3177_10576_0 {
  line-height: 21.328001022338867px;
  position: relative;
  flex-shrink: 0;
}

.span-3177_10576_0_1 {
  font-weight: 400;
  color: rgba(10, 89, 247, 1);
  position: relative;
  flex-shrink: 0;
  mix-blend-mode: normal;
}

.container {
  width: 100%;
  height: 100%;
}

.fill-lightcomp_background_emphasize-602_9414 {
        background-color: rgba(10, 89, 247, 1)
      }
.fill-lightfont_on_primary-602_9443-text {
        color: rgba(255, 255, 255, 1)
      }
.text-fontbody_lmedium-602_9659 {
        font-size: 16px;
font-family: HarmonyHeiTi;
line-height: 1px
      }

.scroll-container-0_1 {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.canvas-0_1 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.frame-3177_10712 {
  width: 120px;
  height: 40px;
  position: relative;
  flex-shrink: 0;
}

.symbol-3177_10458 {
  width: 120px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 9px 16px 9px 16px;
  border-radius: 20px 20px 20px 20px;
  mix-blend-mode: normal;
}

.text-3177_10459 {
  text-align: center;
  width: 88px;
  height: auto;
  position: relative;
  flex-shrink: 0;
  mix-blend-mode: normal;
}

.paragraph-3177_10459_0 {
  line-height: 21.328001022338867px;
  position: relative;
  flex-shrink: 0;
}

.span-3177_10459_0_1 {
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  position: relative;
  flex-shrink: 0;
  mix-blend-mode: normal;
}

.container {
  width: 100%;
  height: 100%;
}